<% if signed_in? %>
  <div class="row-fluid">
    <aside class="span6">

        <%= render 'shared/interaction_trunk' %>

    </aside>
  </div>  
<% else %>
	<div class="center hero-unit">
	  <h1>Welcome to my Flu App</h1>

	  <h2>
	    This is the home page, NOW SIGN UP!
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

<% end %> 
