<div class="btn-group btn-group-vertical">

<%= form_for(@symptom_submission) do |f| %>


	<% random_symptom_set.each do |symptom| %>
	   <button type="button" class="btn btn-primary" data-toggle="button"> <%=symptom.name %> </button>
  	 <% end %>
	 
 	<div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
    
<% end %>



</div>
