<div id="Symptoms">
  <%- for symptom in @symptoms -%>
    <h3><%=h symptom.name %></h3>
  <%- end -%>
</div>      
      
      
      
	<!--   <% random_symptom_set.each do |symptom| %>
	     <tr><%= symptom.name %></tr>
  	  <% end %>
	 
	   -->
