<div class="btn-group btn-group-vertical">

<%= simple_form_for(@symptom_submission) do |f| %>

		<div> 
			<%=f.association :symptoms,:as => :check_boxes, :collection => Symptom.find(:all).sample(5), :prompt => "Choose a Symptom" %>
		    
		</div>
		
<% end %>



</div>





<!-- 	<% random_symptom_set.each do |symptom| %>
	   <button type="button" class="btn btn-primary" data-toggle="button"> <%= symptom.name %> </button>
  	 <% end %> -->