<%= simple_form_for @symptom_set, :html => { :class => 'form-inline' } do |f| %>
	<%= f.fields_for :symptoms do |builder| %>
		<%= render 'symptom_fields', f: builder %>
	<% end %>

	<br><br><br><br><br><br><br><br><br><br><br>
	<div class="actions"><%= f.submit %></div> 
<% end %>