<footer class="footer">
  <small>
    <a href="http://salathegroup.com/">Salathe Research Group</a>
    by Ells Campbell
  </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://blog.salathegroup.com/">Blog</a></li>
      </ul>
   </nav>
</footer>